/**
 * @filesource _palette.scss
 * @brief Feuille contenant toutes les couleures
 * @author Tanguy Cavagna <tanguy.cvgn@eduge.ch>
 * @date 2020-02-11
 * @version 1.0.0
 */

$blue: #3b5999;
$white: #fff;
$background: #e9eaed;
$danger: #E14E4E;