/**
 * @filesource _sizes.scss
 * @brief Feuilles contenant toutes les tailes nécessaire au responsive
 * @author Tanguy Cavagna <tanguy.cvgn@eduge.ch>
 * @date 2020-02-11
 * @version 1.0.0
 */

$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;